<div class="col-wrap">
    <div class="col">
        <h3 class="margin-top--4">API response times</h3>
        <div class="tabs">
            <div class="btn-group tab__btn-group">
                <button class="btn btn--tab width--30{{#if activeChartTab.today}} btn--tab-active{{/if}}" aria-controls="request-times-daily--chart" aria-selected="{{#if activeChartTab.today}}true{{else}}false{{/if}}">
                    Yesterday
                </button>
                <button class="btn btn--tab width--29{{#if activeChartTab.month}} btn--tab-active{{/if}} " aria-controls="request-times-monthly--chart"
                        aria-selected="{{#if activeChartTab.month}}true{{else}}false{{/if}}">
                    30 days
                </button>
            </div>
            <div id="request-times-daily--chart"
                 class="tab__content height--40 margin-bottom--2 padding-top--2 padding-bottom--2 padding-left--1 padding-right--1 chart-container"
                 aria-hidden="{{#if activeChartTab.today}}false{{else}}true{{/if}}" aria-labelledby="charts-aria" {{#unless activeChartTab.today}}style="overflow: hidden; position: absolute; left: -99999px;"{{/unless}}>
                <img src="../img/loader.gif" width="32px" class="margin-top--1"/>
            </div>
            <div id="request-times-monthly--chart"
                 class="tab__content height--40 margin-bottom--2 padding-top--2 padding-left--1 padding-right--1 padding-bottom--2 chart-container"
                 aria-hidden="{{#if activeChartTab.month}}false{{else}}true{{/if}}" aria-labelledby="charts-aria" {{#unless activeChartTab.month}}style="overflow: hidden; position: absolute; left: -99999px;"{{/unless}}>
                <img src="../img/loader.gif" width="32px" class="margin-top--1"/>
            </div>
        </div>
    </div>

    <div class="col padding-bottom-sm--1 padding-bottom-md--6 border-bottom--iron-light-lg">
        {{#each averageRequestTimes}}
            <div class="col col--lg-18 padding-right--1 padding-left-sm--1 padding-left-md--1 margin-top--2 margin-right--1 margin-left-sm--0 margin-left-md--0 margin-left-lg--0 border--left-thick">
                <p class="margin-top--0">{{description}}</p>
                <p class="margin-top--0 margin-bottom--1 size--24">{{requestTime}}ms</p>
            </div>
        {{/each}}
    </div>

    <div class="col">
        <h3 class="margin-top--4">Publishing statistical releases at 09:30</h3>
        <p class="flush">Times taken to publish new statistics in line with the <a href="https://www.statisticsauthority.gov.uk/monitoring-and-assessment/code-of-practice/">Code of Practice for Official Statistics</a></p>
        <div id="publish-times--chart" class="height--40 chart-container">
            <img src="../img/loader.gif" width="32px" class="margin-top--1"/>
        </div>
    </div>
</div>