    <div class="col-wrap">
        <div class="col padding-bottom-md--6">
            <div class="col col--lg-45 margin-bottom--2">
                <h3 class="margin-top--4">Activity on ONS.gov.uk</h3>
                <div id="visits-today--chart" class="height--30 chart-container--45" aria-labelledby="charts-aria">
                    <img src="../img/loader.gif" width="32px" class="margin-top--1"/>
                </div>
            </div>
            <div class="col col--lg-13 margin-left--1 margin-top-lg--8 padding-top--6 ">
                <!--<h3>Active users</h3>-->
                <p class="text-center"><span class="size--80">{{activeUsers}}</span><br/>active users online now</p>
            </div>
        </div>
    </div>
    <div class="col-wrap border-top--iron-light-lg">
        <div class="col col--lg-30 padding-bottom-sm--1 padding-bottom-md--6  margin-top--1 margin-left--1 ">
            <h3 class="margin-top--4">Devices used</h3>
            <div id="devices--chart" class="height--40 chart-container--29" aria-labelledby="charts-aria">
                <img src="../img/loader.gif" width="32px" class="margin-top--1"/>
            </div>
        </div>
        {{#if browsers}}
            <div class="col col--lg-29 padding-top-md--2">
                <h3>Browsers</h3>
                <div class="padding-right-lg--2 padding-left-sm--1 padding-left-md--1 margin-top--2 margin-right--1 margin-left-sm--0 margin-left-md--0 margin-left-lg--0 border--left-thick">
                    {{!-- <p class="margin-top--0">{{trafficSources.name}}</p> --}}
                    <ol>
                        {{#each browsers.values}}
                            <li class="flush">{{name}} <span style="float:right">{{sessions}}</span></li>
                        {{/each}}
                    </ol>
                </div>
            </div>
        {{/if}}
        <!--<div class="col padding-bottom--6 border-bottom--iron-light-lg">-->
            <!--<h3 class="margin-top--4">Top pages</h3>-->
            <!--<div id="landing-pages--chart" class="height--50 chart-container" aria-labelledby="charts-aria">-->
                <!--<img src="../img/loader.gif" width="32px" class="margin-top--1"/>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col padding-bottom--6 border-bottom--iron-light-lg">-->
            <!--<h3 class="margin-top--4">Top refers</h3>-->
            <!--<div id="traffic-sources--chart" class="height--50 chart-container" aria-labelledby="charts-aria">-->
                <!--<img src="../img/loader.gif" width="32px" class="margin-top--1"/>-->
            <!--</div>-->
        <!--</div>-->
        <div class="col border-top--iron-light-lg padding-top-md--2">
        {{#if trafficSources}}
            <div class="col col--lg-30">
                <h3>Top referrers</h3>
                <p class="flush">Sources that referred traffic</p>
                <div class="padding-right-lg--2 padding-left-sm--1 padding-left-md--1 margin-top--2 margin-right--1 margin-left-sm--0 margin-left-md--0 margin-left-lg--0 border--left-thick">
                    {{!-- <p class="margin-top--0">{{trafficSources.name}}</p> --}}
                    <ol>
                        {{#each trafficSources.values}}
                            <li class="flush">{{name}} <span style="float:right">{{sessions}}</span></li>
                        {{/each}}
                    </ol>
                </div>
            </div>
        {{/if}}

        {{#if landingPages}}
            <div class="col col--lg-29">
                <h3>Top landing pages</h3>
                <p class="flush">First page visited on users journey</p>
                <div class="padding-left-sm--1 padding-left-md--1 margin-top--2 margin-right--1 margin-left-sm--0 margin-left-md--0 margin-left-lg--0 border--left-thick">
                    {{!-- <p class="margin-top--0">{{landingPages.name}}</p> --}}
                    <ol>
                        {{#each landingPages.values}}
                            <li class="flush"><a href="https://www.ons.gov.uk{{uri}}" target="_blank" rel="noopener noreferrer">{{name}}</a> <span style="float:right">{{sessions}}</span></li>
                        {{/each}}
                    </ol>
                </div>
            </div>
        {{/if}}
    </div>

    </div>