    {{!-- Todays activity --}}
    <div class="col-wrap">
        <div class="col padding-bottom-md--6">
            <div class="col col--lg-45 margin-bottom--2">
                <h3 class="margin-top--4">Today's activity on ONS.gov.uk</h3>
                <div id="visits-today--chart" class="height--30 chart-container--45" aria-labelledby="charts-aria">
                    <img src="../img/loader.gif" width="32px" class="margin-top--1"/>
                </div>
            </div>
            <div class="col col--lg-13 margin-left--1 margin-top-lg--8 padding-top--6 ">
                <!--<h3>Active users</h3>-->
                <p class="text-center"><span class="size--80">{{activeUsers}}</span><br/>active users online now</p>
            </div>
        </div>
    </div>

    {{!-- Web performance
    <div class="col-wrap border-top--iron-light-lg padding-top-md--6">
        <h3 class="margin-left-md--1">Performance of the website</h3>
        <div class="col col--lg-29 margin-left-lg--1">
            <h4 class="margin-bottom--0">Are users navigating as we expect?</h4>
            <p class="margin-top--0 margin-bottom--0">Looking at specific journeys on the site, where we can measure success, to see how they are performing.</p>
            <div class="col-wrap">
                <div class="col col--lg-14 margin-left-lg--1">
                    <div id="sparkline--dataset-downloads" aria-hidden="true" style="width:100%;height:70px;"></div>
                    <h5 class="margin-top--1 margin-bottom--1 height-lg--6">Users who download from dataset pages</h5>
                    <p class="size--24">{{datasetDownloads.highlightValue}}% <span class="trend trend--{{datasetDownloads.trend}}"></span></p>
                </div>
                <div class="col col--lg-14 margin-left-lg--1">
                    <div id="sparkline--nav-bounce" aria-hidden="true" style="width:100%;height:70px;"></div>
                    <h5 class="margin-top--1 margin-bottom--1 height-lg--6">Navigation page bounce rate</h5>
                    <p class="size--24">{{navBounce.highlightValue}}% <span class="trend trend--{{navBounce.trend}}"></span></p>
                </div>
            </div>
        </div>
        <div class="col col--lg-29 margin-left-md--1 margin-top-sm--4">
            <h4 class="margin-bottom--0">Are users finding what they need?</h4>
            <p class="margin-top--0 margin-bottom--0">Measuring how search is performing by looking at how users behave after an initial search.</p>
            <div class="col-wrap">
                <div class="col col--lg-14 margin-left-lg--1">
                    <div id="sparkline--search-bounce" aria-hidden="true" style="width:100%;height:70px;"></div>
                    <h5 class="margin-top--1 margin-bottom--1 height-lg--6">Users who left from a search page</h5>
                    <p class="size--24">{{searchExit.highlightValue}}% <span class="trend trend--{{searchExit.trend}}"></span></p>
                </div>
                <div class="col col--lg-14 margin-left-lg--1 border-top--iron-light-sm">
                    <div id="sparkline--refined-search" aria-hidden="true" style="width:100%;height:70px;"></div>
                    <h5 class="margin-top--1 margin-bottom--1 height-lg--6">Users who refined searches</h5>
                    <p class="size--24">{{searchRefinement.highlightValue}}% <span class="trend trend--{{searchRefinement.trend}}"></span></p>
                </div>
            </div>

        </div>
    </div>
    <div class="col-wrap">
        <div class="col col--lg-29 margin-left-lg--1 padding-top-lg--3 margin-top-lg--2 border-top--iron-light-lg margin-top-sm--4">
            <h4 class="margin-bottom--0">Are we influencing our users?</h4>
            <p class="margin-top--0 margin-bottom--0">Looking at if our site is a trusted resource by looking at how users get there and where they go when the leave.</p>
            <div class="col-wrap">
                <div class="col col--lg-14 margin-left-lg--1 ">
                    <div id="sparkline--direct-traffic" aria-hidden="true" style="width:100%;height:70px;"></div>
                    <h5 class="margin-top--1 margin-bottom--1 height-lg--8">Users accessing a page on the site directly</h5>
                    <p class="size--24">{{directTraffic.highlightValue}}% <span class="trend trend--{{directTraffic.trend}}"></span></p>
                </div>
                <div class="col col--lg-14 margin-left-lg--1 border-top--iron-light-sm">
                    <div id="sparkline--external-links" aria-hidden="true" style="width:100%;height:70px;"></div>
                    <h5 class="margin-top--1 margin-bottom--1 height-lg--8">Users following links from our site to other websites</h5>
                    <p class="size--24">{{externalLinks.highlightValue}}% <span class="trend trend--{{externalLinks.trend}}"></span></p>
                </div>
            </div>

        </div>
        <div class="col col--lg-29 margin-left-md--1 padding-top-lg--3 margin-top-lg--2 border-top--iron-light-lg margin-top-sm--4">
            <h4 class="margin-bottom--0">Are users engaged with the site?</h4>
            <p class="margin-top--0 margin-bottom-lg--0 height-lg--8">Measuring if people are using the site and engaging with our content.</p>
            <div class="col-wrap">
                <div class="col col--lg-14 margin-left-lg--1">
                    <div id="sparkline--visits" aria-hidden="true" style="width:100%;height:70px;"></div>
                    <h5 class="margin-top--1 margin-bottom--1 height-lg--8">Visits this month</h5>
                    <p class="size--24">{{visits.highlightValue}} <span class="trend trend--{{visits.trend}}"></span></p>
                </div>
                <div class="col col--lg-14 margin-left-lg--1 border-top--iron-light-lg">
                    <div id="sparkline--bulletins" aria-hidden="true" style="width:100%;height:70px;"></div>
                    <h5 class="margin-top--1 margin-bottom--1 height-lg--8">Users who spent over 30 seconds on a Statistical Bulletin</h5>
                    <p class="size--24">{{bulletin.highlightValue}}% <span class="trend trend--{{bulletin.trend}}"></span></p>
                </div>
            </div>
        </div>
    </div>

    --}}

    {{!-- Web performance --}}
    <div class="col-wrap border-top--iron-light-lg padding-top-md--6">
        <h3 class="margin-left-md--1">Performance of the website</h3>
        <div class="col col--lg-29 margin-left-lg--1">
            <h4 class="margin-bottom--0">Are users finding what they need?</h4>
            <p class="margin-top--0 margin-bottom--0">Measuring how search is performing by looking at how users behave after an initial search.</p>
            <div class="col-wrap">
                <div class="col col--lg-14 margin-left-lg--1">
                    <div id="sparkline--search-bounce" aria-hidden="true" style="width:100%;height:70px;"></div>
                    <h5 class="margin-top--1 margin-bottom--1 height-lg--6">Users who left from a search page</h5>
                    <p class="size--24">{{searchExit.highlightValue}}% <span class="trend trend--{{searchExit.trend}}"></span></p>
                </div>
                <div class="col col--lg-14 margin-left-lg--1 border-top--iron-light-sm">
                    <div id="sparkline--refined-search" aria-hidden="true" style="width:100%;height:70px;"></div>
                    <h5 class="margin-top--1 margin-bottom--1 height-lg--6">Users who refined searches</h5>
                    <p class="size--24">{{searchRefinement.highlightValue}}% <span class="trend trend--{{searchRefinement.trend}}"></span></p>
                </div>
            </div>
        </div>
        <div class="col col--lg-29 margin-left-md--1 margin-top-sm--4">
            <h4 class="margin-bottom--0">Are we influencing our users?</h4>
            <p class="margin-top--0 margin-bottom--0">Looking at if our site is a trusted resource by looking at how users get there and where they go when the leave.</p>
            <div class="col-wrap">
                <div class="col col--lg-14 margin-left-lg--1 ">
                    <div id="sparkline--direct-traffic" aria-hidden="true" style="width:100%;height:70px;"></div>
                    <h5 class="margin-top--1 margin-bottom--1 height-lg--8">Users accessing a page on the site directly</h5>
                    <p class="size--24">{{directTraffic.highlightValue}}% <span class="trend trend--{{directTraffic.trend}}"></span></p>
                </div>
                <div class="col col--lg-14 margin-left-lg--1 border-top--iron-light-sm">
                    <div id="sparkline--external-links" aria-hidden="true" style="width:100%;height:70px;"></div>
                    <h5 class="margin-top--1 margin-bottom--1 height-lg--8">Users following links from our site to other websites</h5>
                    <p class="size--24">{{externalLinks.highlightValue}}% <span class="trend trend--{{externalLinks.trend}}"></span></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-wrap">
        <div class="col col--lg-29 margin-left-lg--1 padding-top-lg--3 margin-top-lg--2 border-top--iron-light-lg margin-top-sm--4">
            <h4 class="margin-bottom--0">Are users engaged with the site?</h4>
            <p class="margin-top--0 margin-bottom-lg--0 height-lg--8">Measuring if people are using the site and engaging with our content.</p>
            <div class="col-wrap">
                <div class="col col--lg-14 margin-left-lg--1">
                    <div id="sparkline--visits" aria-hidden="true" style="width:100%;height:70px;"></div>
                    <h5 class="margin-top--1 margin-bottom--1 height-lg--8">Visits this month</h5>
                    <p class="size--24">{{visits.highlightValue}} <span class="trend trend--{{visits.trend}}"></span></p>
                </div>
                <div class="col col--lg-14 margin-left-lg--1 border-top--iron-light-lg">
                    <div id="sparkline--bulletins" aria-hidden="true" style="width:100%;height:70px;"></div>
                    <h5 class="margin-top--1 margin-bottom--1 height-lg--8">Users who spent over 30 seconds on a Statistical Bulletin</h5>
                    <p class="size--24">{{bulletin.highlightValue}}% <span class="trend trend--{{bulletin.trend}}"></span></p>
                </div>
            </div>
        </div>
        <div class="col col--lg-29 margin-left-md--1 padding-top-lg--3 margin-top-lg--2 border-top--iron-light-lg margin-top-sm--4">
            <h4 class="margin-bottom--0">Are users engaged with the site?</h4>
            <p class="margin-top--0 margin-bottom-lg--0 height-lg--8">Measuring if people are using the site and engaging with our content.</p>
            <div class="col-wrap">
                <div class="col col--lg-14 margin-left-lg--1">
                    <div aria-hidden="true" style="width:100%;height:70px;background-color:#E5E5E5;font-size:32px;text-align:center;padding-top:22px;">85.5%</div>
                    <h5 class="margin-top--1 margin-bottom--1 height-lg--8">Users who thought the language used was just right</h5>
                    <!--<p class="size--24">85.5% </p>-->
                </div>
                <div class="col col--lg-14 margin-left-lg--1 border-top--iron-light-lg">
                    <div aria-hidden="true" style="width:100%;height:70px;background-color:#E5E5E5;font-size:32px;text-align:center;padding-top:22px;">64.6%</div>
                    <h5 class="margin-top--1 margin-bottom--1 height-lg--8">Users who would recommend the site to others</h5>
                    <!--<p class="size--24">64.6% </p>-->
                </div>
            </div>
        </div>
    </div>